@{
    ViewBag.Title = "Rico3d";
}

<div class="jumbotron">
    <h1>RICO3D</h1>
    <p class="lead">Projetos e Soluções Ltda.</p>
    <p><a class="btn btn-primary btn-lg"@Html.ActionLink("Saibamais", "Saibamais", "Home")></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Loja</h2>
        <p>
            Loja de Mosaicos
        </p>
        <p><a class="btn btn-default"@Html.ActionLink("Loja","ListaProdutos","Vitrine")></a></p>
    </div>
   
</div>