@{
    ViewBag.Title = "Saibamais";
}

<h2>Produtos e Serviços</h2>
<p>
    A empresa Rico3d presta serviços relacionados à engenharia de projetos de industriais e de equipamentos, atuando na execução dos projetos e/ou no fornecimento soluções que auxiliem as equipes de engenharia a executarem estes projetos.
</p>
<p>
    Executamos projetos de instalações industriais fornecendo modelos e desenhos para projetos básicos ou conceituais em geral e fornecemos o detalhamento nas disciplinas de mecânica, caldeiraria, estruturas metálicas ou tubulação e concreto.
</p>
<p>
    Trabalhamos com as últimas tecnologias que permitem entregar desenhos em projeções, modelagem tridimensional e desenhos extraídos de modelos tridimensionais.
</p>
<p>
    Modelamos e administramos modelos avançados BIM (Building Information Model) totalmente multiusuários e multidisciplinares com integração plena à base de dados e a varias ferramentas de CAD, conforme imagem abaixo, fornecendo consultoria de metodologias e subsidio técnico desde a implantação até o fornecimento dos entregáveis do projeto, obedecendo todo o procedimento que permita o gerenciamento de contratos até o nível de EPCM (Engineering, Procurement, and Construction Management).
</p>
<p>
    <img width="600px" height="600px" src='@Url.Content("~/Image/BIM.png")' />
</p>
<p>
    Modelamos baseados em registros de nuvens de pontos.
    </p>
<p>
    Efetuamos a implantação e customização de softwares relacionados à engenharia, com a criação de rotinas, bibliotecas e treinamento específico.
</p>
<p>
    Em soluções complexas, que exijam recursos além do padrão dos softwares de engenharia adotados, desenvolvemos aplicativos com uso de dotnet, que podem ser acoplados diretamente a bases de dados. Estes aplicativos são projetados segundo os melhores critérios de engenharia de software de acordo com requisitos e especificações necessárias aos projetos e/ou padrões da empresa cliente.
</p>

    

